.calendar_container {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    flex-direction: column;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.calendar {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calendar__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.calendar__month, .calendar__year {
    font-size: 1.2em;
    font-weight: bold;
}

.calendar-week, .calendar-days {
    display: flex;
    flex-wrap: wrap;
}

.calendar__day, .calendar__item {
    width: calc(100% / 7);
    text-align: center;
    padding: 10px 0;
    box-sizing: border-box;
}

.calendar__day--today {
    background-color: yellow;
    /* Estilo para el día actual */
}

.calendar__day--holiday {
    background-color: red;
    /* Estilo para los feriados */
    color: white;
}

.calendar__prev, .calendar__next {
    cursor: pointer;
    user-select: none;
}
